.about {
  background: white url(../images/content/bg-about.png) no-repeat center bottom;
  background-size: auto;

  .container {
    padding-top: 30px;
    padding-bottom: 470px;

    @media (min-width: 768px) {
      padding-top: 60px;
    }
  }

  &__title {
    margin: 0 0 50px;
    position: relative;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 66px;
    text-transform: uppercase;
    text-align: center;
    color: #1a1e2a;

    &:before {
      content: "";
      position: absolute;
      max-width: 70px;
      width: 100%;
      display: block;
      height: 4px;
      background: #d7d7d7;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;

    span {
      color: $theme-primary-blue;
    }
  }

  &__text {
    text-align: center;
    color: #959595;
  }
}