.top-info
    .container.pt-3.pb-3
        .row
            .col-sm-12.col-md-4.col-xl-6.mb-2.mb-sm-0
                .top-info__hours.d-flex.align-items-center
                    svg(role='img' width=20 height=20)
                        use(xlink:href='./static/images/sprite/symbol/sprite.svg#clock-regular')
                    span Пн - Пт: 8:00 - 18:00
            .col-sm-12.col-md-8.col-xl-6
                .top-info__contacts
                    .top-info__contacts-phones.d-flex.align-items-start.mb-2.mb-sm-0
                        svg(role='img' width=20 height=20)
                            use(xlink:href='./static/images/sprite/symbol/sprite.svg#phone-alt-solid')
                        ul.phones
                            li.phones__item
                                a(href="tel:+48736672086") +48 736 672 086
                            li.phones__item
                                a(href="tel:+380977544531") +38 097 754 45 31 (Viber, WhatsApp)
                    .top-info__contacts-email
                        svg(role='img' width=20 height=20)
                            use(xlink:href='./static/images/sprite/symbol/sprite.svg#envelope-solid')
                        a.email(href="mailto:miragroupspzoo@gmail.com") miragroupspzoo@gmail.com

