section#about.about
    .container
        h2.about__title О нас
        p.about__subtitle
            | Наш
            =" "
            span многлетний опыт
            br
            | поможет вам развивать ваш бизнес в Польше
        p.about__text
            | Наша компания рада предложить Вам комплекс услуг, необходимых для планирования, организации и успешного ведения бизнеса в Польше.
        p.about__text
            | Понимая важность доверительных партнерских отношений, высокую стоимость времени и опираясь на собственный опыт бизнес-начинаний в незнакомой стране, мы предлагаем оптимальный инструментарий для достижения поставленных Вами целей…