section.promo
    .container
        .row
            .col-lg-4
                h2.promo__title
                    | Профессиональные
                    =" "
                    span бизнес решения и консультации
            .col-lg-5
                p.promo__text
                    | Наша компания рада предложить Вам комплекс услуг, необходимых для планирования, организации и успешного ведения бизнеса в Польше.
            .col-lg-3
                  p.promo__btn
                      a(href="#contacts" class="btn btn--primary js-scroll-to") Задать вопрос