.promo
    .container
        .row
            .col-lg-4
                h2.promo__title
                    | Профессиональные
                    =" "
                    span бизнес решения и консультации
            .col-lg-5
                p.promo__text
                    | Lorem Ipsum is simply dummy text of the printing and typesetting indus orem
                    | Ipsum has been the industry's standard dummy textve rsince
            .col-lg-3
                p.promo__btn
                    a(href="#contacts" target="_blank" class="btn btn--bordered") Задать вопрос