
.info
    .container
        .row
            .col-lg-6
                .info__text
                        h2
                            | Доверьте работу
                            =" "
                            strong професионалам
                        p
                            | Наши знания,  практика и опыт ведения будут полезны Вам
            .col-lg-6
                .info__stats
                    .info__stats-item.stats
                        .stats__text
                            h3
                                svg(role='img' width=20 height=20)
                                    use(xlink:href='./static/images/sprite/symbol/sprite.svg#users-solid')
                                span.counter 47
                            p счастливых
                                br
                                | клиентов
                    .info__stats-item.stats
                        .stats__text
                            h3
                                svg(role='img' width=20 height=20)
                                    use(xlink:href='./static/images/sprite/symbol/sprite.svg#briefcase-solid')
                                span.counter 12
                            p завершенных
                                br
                                | проектов
                    .info__stats-item.stats
                        .stats__text
                            h3
                                svg(role='img' width=20 height=20)
                                    use(xlink:href='./static/images/sprite/symbol/sprite.svg#phone-alt-solid')
                                span.counter 102
                            p проведенных
                                br
                                | консультаций
                    .info__stats-item.stats
                        .stats__text
                            h3
                                svg(role='img' width=20 height=20)
                                    use(xlink:href='./static/images/sprite/symbol/sprite.svg#tasks-solid')
                                span.counter 102
                            p работающих
                                br
                                | решений