-
    let slides = [
        {
            title: 'Организация бизнеса и открытие фирм',
            text: 'Регистрация фирм в Польше, получение разрешений, лицензий ...',
        },
        {
            title: 'Бухгалтерское обслуживание',
            text: 'Бухгалтерский и налоговый учет, кадровое сопровождение ...',
        },
        {
            title: 'Планирование бизнеса',
            text: 'Бизнес с нуля - с чего начать свой бизнес и что для этого нужно ...',
        },
        {
            title: 'Охрана труда',
            text: 'Обязательные мероприятия по охране труда и техники безопасности фирм, ...',
        }
    ];


section.hero
    .main-slider.js-main-slider
        each slide in slides
            .main-slider__slide
                .main-slider__slide-content
                    .slide-content.container
                        h1.slide-content__title= slide.title
                        p.slide-content__text= slide.text
                        p.slide-content__buttons
                            a(href='#services' class="btn btn--default js-scroll-to") Подробнее
                            a(href="#contacts" class="btn btn--default js-scroll-to") Контакты