.btn {
  min-width: 210px;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: $theme-primary-blue;
  border: 2px solid $theme-primary-blue;
  border-radius: 0;

  &:hover {
    color: #fff;
    background: $theme-primary-blue;
  }

  &--bordered {
    color: #fff;
    border-color: #fff;

    &:hover {
      color: #fff;
      border-color: $theme-primary-blue;
      background: $theme-primary-blue;
    }
  }
}