section#pricing.pricing
    .container
        h2.pricing__title Цены на услуги
        .pricing__table
            table.table.table-bordered.table-striped
                thead.thead-dark
                    tr
                        th(scope='col') Услуга
                        th(scope='col') Стоимость
                tbody
                    tr
                        th(scope='row') Регистрация фирмы (ООО) online (S24)
                        td 1200-2000 zł
                    tr
                        th(scope='row') Внесение изменений в регистрационные документы фирмы
                        td 150-250 zł
                    tr
                        th(scope='row') Открытие банковского счета и регистрация его в налоговой инспекции
                        td 250 zł
                    tr
                        th(scope='row') Аренда юридического адреса
                        td от 900 zł/час
                    tr
                        th(scope='row') Бухгалтерское обслуживание фирмы (ООО)
                        td от 500 zł/мес.
                    tr
                        th(scope='row') Подготовка документации по технике безопасности (должностная инструкция и оценка профессионального риска)
                        td от 100 zł/чел.
                    tr
                        th(scope='row') Проведение инструктажей по технике безопасности
                        td 50-100 zł/чел.
                    tr
                        th(scope='row') Остальные услуги
                        td цена договорная
        p.pricing__info
            | *Цены указаны без учета платежей в гос. органы регистрации и могут быть изменены без предварительных уведомлений. После согласования с потенциальным клиентом (коммерческое предложение) цены не подлежат изменению сроком 14 дней.
        p.pricing__btn
            a(href="#contacts" target="_blank" class="btn") Связаться с нами
