extends layout/main

block variables
	-let title = 'Компания Mira Group - открытие фирмы и бухгалтетия в Польше.'
	-let description = 'Открытие фирмы в Польше. Бухгалтерия, разрешения, лицензии, кадры, охрана труда (BHP). Помощь в организации и ведении бизнеса в Польше.'
	-let keywords = 'открытие фирмы в Польше, открытие фирмы и бухгалтетия в Польше, разрешения, лицензии, кадры, охрана труда (BHP), организации и ведении бизнеса в Польше.'

block content
	include ./modules/top-info/top-info
	include ./modules/header/header
	include ./modules/hero/hero
	include ./modules/promo/promo
