header.header.js-header
    .container
        nav#navbar.navbar.navbar-expand-md.navbar-light.px-0.py-3
            a.navbar-brand.p-0(href='#') Mira Group Company
                //img(src='./static/images/common/logo.png', width='100', height='100', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-nav', aria-controls='main-nav', aria-expanded='false', aria-label='main-nav')
                span.navbar-toggler-icon
            #main-nav.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.active.js-scroll-to(href='#top-info') Главная
                    li.nav-item
                        a.nav-link.js-scroll-to(href='#about') О нас
                    li.nav-item
                        a.nav-link.js-scroll-to(href='#services') Наши услуги
                    li.nav-item
                        a.nav-link.js-scroll-to(href='#pricing') Цены
                    li.nav-item
                        a.nav-link.js-scroll-to(href='#contacts') Контакты