section#services.services
    .container
        h2.services__title Наши услуги
        .services__list
            .services__list-item.services-item
                a.services-item__header.collapsed(data-toggle='collapse', href='#business', aria-expanded='false', aria-controls='business' data-number="01")
                    | Организация бизнеса и открытие фирм
                    span.services-item__header-cross
                #business.collapse
                    .services-item__body
                        p Организовывая бизнес в Польше следует учесть, что расходы не ограничатся открытием юридического лица. Основное финансовое бремя ляжет на Вас при его дальнейшем обслуживании (счета за аренду, услуги связи и прочие обязательные платежи). По этой причине открытие фирмы без ее коммерческой деятельности (например, как основание для иммиграции) нами не рекомендуется.
                        p Наше содействие по организации бизнеса включает в себя, но не ограничивается:
                        ul
                            li Консультации по вопросам, связанным с формой собственности, особенностями налогообложения фирмы, трудоустройством и пребыванием в Польше членов правления и сотрудников, визовыми вопросами, приглашениями и т.д.
                            li Оформление учредительных документов: договор, решение учредительного собрания или правления, доверенности
                            li Подготовка перечня видов деятельности в соответствии с PKD, проверка наименования компании
                            li Подготовка и заполнение всех необходимых документов для регистрации фирмы
                            li Регистрация ООО в Государственном реестре предприятий (KRS), в налоговой инспекции, в органах статистики и получение статистического номера REGON
                            li Получение идентификационного номера плательщика налогов NIP
                            li Открытие счета в банке с обслуживанием в режиме онлайн
                            li Разработка и изготовление печати
                            li  При необходимости — регистрация компании в качестве плательщика VAT и VAT UE, в управлении социального обеспечения (ZUS), заключение договора аренды виртуального офиса и договора на бухгалтерское обслуживание Вашей фирмы

            .services__list-item.services-item
                a.services-item__header.collapsed(data-toggle='collapse', href='#accounting', aria-expanded='false', aria-controls='accounting' data-number="02")
                    | Бухгалтерское обслуживание
                    span.services-item__header-cross
                #accounting.collapse
                    .services-item__body
                        p Бухгалтерское обслуживание подразумевает тесный и постоянный контакт между предприятием и государственными фискальными органами и включает в себя:
                        ul
                            li Ведение бухгалтерского учета, налоговых книг доходов и расходов, составление и передача деклараций в налоговую инспекцию, ведение текущей документации, учет основных средств и нематериальных активов.
                            li Выполнение функции отделов кадров малых и средних предприятий, начисление заработной платы и ведение ведомостей сотрудников, составление и передача расчетов и деклараций в управление социального обеспечения и налоговую инспекцию.

            .services__list-item.services-item
                a.services-item__header.collapsed(data-toggle='collapse', href='#planning', aria-expanded='false', aria-controls='planning' data-number="03")
                    | Планирование бизнеса
                    span.services-item__header-cross
                #planning.collapse
                    .services-item__body
                        p Парадоксально, но многие предпочитают регистрировать фирму еще не определившись с тем, что в последствии должно обеспечить им доход. Такой подход неоправданно рискован и, зачастую, не правилен. Большое количество предпринимателей сталкиваются с проблемой того, что та или иная модель бизнеса, работающая в одной стране не приносит дохода в другой. Связано это со многими причинами - это и емкость рынка, и покупательная способность, традиционное и культурное различие потребления товаров и услуг.
                        ul
                            li Оценке соответствия продукта требованиям рынка
                            li Оценке потенциального и реального объема и емкости рынка в натуральном и денежном выражении
                            li Определении целевой аудитории на основе социально-демографических, психологических характеристик
                            li Анализе и оценке конкурентной среды
                            li Определении оптимальной цены товара или услуги
                            li Каналах дистрибуции
                        p В зависимости от поставленных задач исследования, используются следующие методики:
                        ul
                            li Телефонный опрос
                            li Личный опрос
                            li Онлайн-опрос
                            li Аудит розничных точек сбыта “Тайный покупатель”
                            li Мониторинг цен на товары и услуги

            .services__list-item.services-item
                a.services-item__header.collapsed(data-toggle='collapse', href='#safety', aria-expanded='false', aria-controls='safety' data-number="04")
                    | Охрана труда
                    span.services-item__header-cross
                #safety.collapse
                    .services-item__body
                        p Охрана труда – неотъемлемая часть деятельности любой европейской фирмы не только на бумаге, но и в реальной жизни.
                        p Инвестиции в безопасность труда уменьшают потери от приостановки деятельности фирмы, риски ее закрытия и выплаты штрафов. Также улучшаются условия труда, повышая его эффективность.
                        p Хотелось бы обратить Ваше внимание на то, что Государственная система управления охраной труда ЕС выдвигает четкие требования к безопасности и возлагает ответственность на их невыполнение непосредственно на собственника.
                        p
                            b MIRA GROUP
                            =" "
                            | выполняет работы по:
                        ul
                            li Организации и внедрении системы управления охраной труда фирм
                            li Первичные и последующие (периодические) инструктажи по технике безопасности
                            li Оценке профессионального риска
                            li Составлению инструкций, актов, протоколов и прочей документации в области охраны труда
        p.services__btn
            a(href="#contacts" target="_blank" class="btn") Узнать цены
