.form {

  label {
    color: $text-color-gray;
    position: relative;

    &.error {
      margin-bottom: 0;
      font-size: 0.8rem;
      color: #ff0000;
    }
  }

  input {
    height: 48px;
    line-height: 48px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0px 20px;
    color: #333;
    font-weight: 400;
    border-radius: 0;

    &.error {
      border-color: #ff0000;
    }
  }

  textarea {
    height: 180px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 15px 20px;
    font-weight: 400;
    color: $title-color;
    border-radius: 0;
    resize: none;

    &.error {
      border-color: #ff0000;
    }
  }

  .form-group--button {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }
}